---
swagger: "2.0"
info:
  description: "This API can be used to obtain the information of the courses in the\
    \ Department of Computer Engineering, University of Peradeniya"
  version: "2.1.0"
  title: "Courses API"
  contact:
    email: "e18227@eng.pdn.ac.lk"
host: "virtserver.swaggerhub.com"
basePath: "/peraprojects/courses/2.1.0"
tags: []
schemes:
- "https"
paths:
  /:
    get:
      tags:
      - "Get Methods"
      description: "Retuns the list of all available courses"
      operationId: "get_courses"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "successful request"
          schema:
            $ref: "#/definitions/CourseList"
      x-swagger-router-controller: "swagger_server.controllers.get_methods_controller"
  /{semester}/:
    get:
      tags:
      - "Get Methods"
      description: "Retuns the list of available courses the specified semester"
      operationId: "get_course_details_by_semester"
      produces:
      - "application/json"
      parameters:
      - name: "semester"
        in: "path"
        description: "Available Semesters (1, 2, 3, 4, 5, 6, 7, 8, general, technical,\
          \ short-semester)"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful request"
          schema:
            $ref: "#/definitions/CourseList"
        "404":
          description: "Invalid Semester"
      x-swagger-router-controller: "swagger_server.controllers.get_methods_controller"
  /{semester}/{courseCode}/:
    get:
      tags:
      - "Get Methods"
      description: "Returns the details of the specified course"
      operationId: "get_course_by_code"
      produces:
      - "application/json"
      parameters:
      - name: "semester"
        in: "path"
        description: "Available Semesters (1, 2, 3, 4, 5, 6, 7, 8, general, technical,\
          \ short-semester)"
        required: true
        type: "string"
      - name: "courseCode"
        in: "path"
        description: "Course Code"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful request"
          schema:
            $ref: "#/definitions/Course"
        "404":
          description: "Invalid Course Code"
      x-swagger-router-controller: "swagger_server.controllers.get_methods_controller"
  /update/{semester}/{courseCode}/:
    put:
      tags:
      - "Put Methods"
      description: "Update course details (This can only be done by an authorized\
        \ admin)"
      operationId: "update_course"
      produces:
      - "application/json"
      parameters:
      - name: "semester"
        in: "path"
        description: "Available Semesters (1, 2, 3, 4, 5, 6, 7, 8, general, technical,\
          \ short-semester)"
        required: true
        type: "string"
      - name: "courseCode"
        in: "path"
        description: "Course Code"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
      x-swagger-router-controller: "swagger_server.controllers.put_methods_controller"
  /add/{semester}/{courseCode}/:
    post:
      tags:
      - "Post Methods"
      description: "Add a new course to a semester (This can only be done by an authorized\
        \ admin)"
      operationId: "add_course"
      parameters:
      - in: "body"
        name: "body"
        description: "Course object that needs to be added to the Semester"
        required: true
        schema:
          $ref: "#/definitions/Course"
      - name: "semester"
        in: "path"
        description: "Available Semesters (1, 2, 3, 4, 5, 6, 7, 8, general, technical,\
          \ short-semester)"
        required: true
        type: "string"
      - name: "courseCode"
        in: "path"
        description: "Course Code"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
        "405":
          description: "Invalid input"
      x-swagger-router-controller: "swagger_server.controllers.post_methods_controller"
definitions:
  Course:
    type: "object"
    properties:
      code:
        type: "string"
        description: "Course Code"
        pattern: "^[a-z]{2}d{3}$"
        x-regex: "^[a-z]{2}d{3}$"
        x-modifiers: []
      name:
        type: "string"
        description: "Course Name"
      credits:
        type: "integer"
        description: "Credits"
      core_or_elective:
        type: "string"
        description: "Core or Elective"
      prerequisites:
        type: "array"
        description: "Prerequisites"
        items:
          type: "string"
      course_content:
        type: "string"
        description: "Course Contents"
      objectives:
        type: "string"
        description: "Objectives of the course"
      ILOs:
        type: "object"
        properties:
          Knowledge:
            type: "array"
            description: "Knowledge gained from the course"
            items:
              type: "string"
          Skill:
            type: "array"
            description: "Skills gained from the course"
            items:
              type: "string"
          Attitude:
            type: "array"
            description: "Attitudes gained from the course"
            items:
              type: "string"
      allocation:
        type: "string"
        description: "Total time allocations for different sessions of the given course"
      modules:
        type: "array"
        description: "Modules of a given course"
        items:
          type: "object"
          properties:
            topic:
              type: "string"
              description: "Topic of the module"
            description:
              type: "string"
              description: "Description of the module"
            allocation:
              type: "object"
              properties:
                L:
                  type: "string"
                  description: "Lecture hours of the given module"
                T:
                  type: "string"
                  description: "Tutorial Class hours of the given module"
                P:
                  type: "string"
                  description: "Practical Class hours of the given module"
                A:
                  type: "string"
                  description: "Assignments of the given module (in hours)"
      references:
        type: "array"
        description: "Useful reference materials of the given course"
        items:
          type: "string"
      marks:
        type: "object"
        description: "Marks allocated for different sessions of the given course"
        properties:
          description:
            type: "string"
          allocation:
            type: "string"
      lecturers:
        type: "array"
        description: "Lecturers of the given course"
        items:
          type: "object"
          properties:
            name:
              type: "string"
              description: "Name of the lecturer"
            title:
              type: "string"
              description: "Designation of the lecturer"
            email:
              type: "string"
              description: "Email address of the lecturer"
            teleOffice:
              type: "string"
              description: "Office telephone number of the lecturer"
            teleMobile:
              type: "string"
              description: "Mobile telephone number of the lecturer"
      url:
        type: "string"
        description: "URL for the course details"
    example:
      code: "XX999"
      name: "Course Name"
      credits: 3
      core_or_elective: "Core"
      prerequisites:
      - "YY888"
      - "ZZ777"
      course_content: "Course Content"
      objectives: "Objectives of the course"
      ILOs:
        Knowledge:
        - "Knowledge gained from the course"
        Skill:
        - "Skills gained from the course"
        Attitude:
        - "Attitudes gained from the course"
      allocation: "Total time allocations for different sessions of the given course"
      modules:
      - topic: "Topic of the module"
        description: "Description of the module"
        allocation:
          L: "Lecture hours of the given module"
          T: "Tutorial Class hours of the given module"
          P: "Practical Class hours of the given module"
          A: "Assignments of the given module (in hours)"
      references:
      - "Useful reference materials of the given course"
      marks:
        description: "Marks allocated for different sessions of the given course"
      lecturers:
      - name: "Name of the lecturer"
        title: "Designation of the lecturer"
        email: "Email address of the lecturer"
        teleOffice: "Office telephone number of the lecturer"
        teleMobile: "Mobile telephone number of the lecturer"
      url: "URL for the course details"
  CourseList:
    type: "object"
    properties:
      url:
        type: "string"
        format: "uri"
    example:
      XX999:
        url: "https://api.ce.pdn.ac.lk/courses/v2/xx999"
      YY888:
        url: "https://api.ce.pdn.ac.lk/courses/v2/yy888"
      ZZ777:
        url: "https://api.ce.pdn.ac.lk/courses/v2/zz777"
